In [1]:
pip install beautifulsoup4

Collecting beautifulsoup4
  Downloading https://files.pythonhosted.org/packages/1a/b7/34eec2fe5a49718944e215fde81288eec1fa04638aa3fb57c1c6cd0f98c3/beautifulsoup4-4.8.0-py3-none-any.whl (97kB)
     |████████████████████████████████| 102kB 2.9MB/s ta 0:00:011
Collecting soupsieve>=1.2 (from beautifulsoup4)
  Downloading https://files.pythonhosted.org/packages/0b/44/0474f2207fdd601bb25787671c81076333d2c80e6f97e92790f8887cf682/soupsieve-1.9.3-py2.py3-none-any.whl
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.8.0 soupsieve-1.9.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import requests

<h4>Scrape the wikipedia page to get the contnets of the page</h4>

In [2]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page_postalCanada=requests.get(url)
page_postalCanada

<h4> Using BeautifulSoup first find the table and then fetch all contents in the tag tr to rows</h4>

In [3]:
from bs4 import BeautifulSoup
soup=BeautifulSoup(page_postalCanada.content,'html.parser')
table_postalCanada=soup.find("table")
rows=table_postalCanada.find_all("tr")

<h4>Transform the data into Pandas Dataframe</h4>

In [4]:
postal_codes=pd.DataFrame([pt.get_text() for pt in rows])
print(postal_codes)

                                             0
0         \nPostcode\nBorough\nNeighbourhood\n
1          \nM1A\nNot assigned\nNot assigned\n
2          \nM2A\nNot assigned\nNot assigned\n
3               \nM3A\nNorth York\nParkwoods\n
4        \nM4A\nNorth York\nVictoria Village\n
..                                         ...
284              \nM8Z\nEtobicoke\nMimico NW\n
285     \nM8Z\nEtobicoke\nThe Queensway West\n
286  \nM8Z\nEtobicoke\nRoyal York South West\n
287         \nM8Z\nEtobicoke\nSouth of Bloor\n
288        \nM9Z\nNot assigned\nNot assigned\n

[289 rows x 1 columns]

<h4>Format the data to the desired table form</h4>

In [5]:
df=postal_codes[0].str.split("\n",n=4,expand=True)
df.drop(columns=4,inplace=True)
new_header=df.iloc[0]
df=df[1:]
df.columns=new_header
df.shape

(288, 4)

In [6]:
df.head()

0   Postcode           Borough     Neighbourhood
1        M1A      Not assigned      Not assigned
2        M2A      Not assigned      Not assigned
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront

<h4>Drop the rows where Borough is 'Not assigned'</h4>

In [7]:
df=df[df.Borough != "Not assigned"]
df.shape

(211, 4)

In [8]:
df.head()

0   Postcode           Borough     Neighbourhood
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront
6        M5A  Downtown Toronto       Regent Park
7        M6A        North York  Lawrence Heights

<h4>Combine the rows where more than one neighborhood exist in one postal code area.</h4>

In [12]:
df_final=df.groupby("Postcode").agg(lambda x:','.join(set(x)))

In [13]:
df_final.shape

(103, 3)

In [14]:
df_final.head()

0               Borough                         Neighbourhood
Postcode
M1B         Scarborough                         Malvern,Rouge
M1C         Scarborough  Highland Creek,Rouge Hill,Port Union
M1E         Scarborough       Morningside,Guildwood,West Hill
M1G         Scarborough                                Woburn
M1H         Scarborough                             Cedarbrae

<h4>Assign the value of Borough to Neighborhood incase Borough has value but a "Not assigned" Neighbourhood</h4>

In [15]:
df_final.Neighbourhood[df_final.Neighbourhood == "Not assigned"]=df_final.Borough

In [16]:
df_final.shape

(103, 3)